@page "/"

<PageTitle>Home</PageTitle>

@* <div class="row mt-2 text-center">
    <div class="form-group col-sm-2"></div>
    <div class="form-group col-sm-8">
        <h1>Illinois State Organization<br />State Application Team</h1>
    </div>
    <div class="form-group col-sm-2"></div>
</div> *@
<div class="row mt-2 text-center">
    <div class="form-group col-sm-2"></div>
    <div class="form-group col-sm-8">
        <img class="darHomeBanner" src="/images/A250 Membership Task Force BANNER Cropped.png" alt="DAR Home Banner" />
    </div>
    <div class="form-group col-sm-2"></div>
</div>
